SECRET_KEY=m7forf_nysxfd)6gtnle1+yhl3h0v4mn1w8&ld-1k*
ALLOWED_HOSTS=*

DB_ENGINE=django.db.backends.postgresql
DB_NAME=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
DB_HOST=db
DB_PORT=5432